A:link	{ TEXT-DECORATION: none }
A:visited { TEXT-DECORATION: none }
A:hover {  text-decoration: underline}
body	{  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }
td	{ FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }
pre	{ FONT-FAMILY: "Courier New", Courier, mono }
p       { font-size: 90% }

.note {  font-size: 10px; color: #FF0000}
.tableheader {  font-size: 110%; text-decoration: underline; font-weight: bold }
.tableheaderdark {  color:#FFFFFF; background-color: #384D7A; font-weight: bold }
.tablesubtitle {  font-size: 90%; font-style: italic; font-weight: bold }
.tablecell {  }

.textsubtitle {  font-size: 12px}
.textemphasis {  font-style: italic}
.textbold {  font-weight: bold}
.readmore {  font-size: 85% }
.subtext{  font-size: 55% }
.sidetext{  font-size: 75% }

.title {  font-weight: bold}
.heading {  font-weight: bold; font-size: 105% }
.subheading {  font-weight: bold; font-size: 100% }
.detail {  font-style: italic}
.indent { left-indent: 4 }
.darkbg { background-color: #384D7A; }

.ministrytitle{  font-weight: bold; font-size: 150% }

.sidebar { }

.featuredarticlebox { background-color: #FFFFFF; }

.newstitle {  color: #000000; font-size: 85%; font-weight: bold }
.newssubtitle {  color: #000000; font-size: 75%; font-weight: bold }
.newsitem {  color: #000000; font-size: 75% }
/* #CED3E7 */
.tablecellnews { color: #000000; background-color: #EFF3FF; }
.tableheadernews {  color: #000000; background-color: #EFF3FF; font-weight: bold }

.featuretitle {  font-size: 95%; font-weight: bold }
.featuresubtitle {  font-size: 85%; font-weight: bold }
.featureitem {  font-size: 85% }
.featureintro {  font-size: 75% }
.tableheaderfeature {  background-color: #daecfb; font-weight: bold }
.tablecellfeature { background-color: #daecfb; }

.verseref { font-size: 90%; font-weight: bold }
.verse { font-size: 90%; }

